
<div class="container">

    <div class="card mt-5">
        <h2 class="title m-auto p-2 mt-5">Consultar Balance</h2>
        <div class="card-body justify-content-md-center p-5">
          
            <div class="col">
                <div class="row">
                    <h3>Buscar:</h3>
                </div>
                <div class="row">
                        <input type="text" class=" col form-control " placeholder="Buscar cuenta..."
                        name="numeroCuenta"
                        [(ngModel)]="numeroCuenta">

                        <button class="btn btn-primary col-4 m-1" (click)="getByAccountNumber()">Buscar</button>
                </div>
            </div>
            <div class="row mt-5">
                <h4>Cuenta</h4>
            </div>
            <div class="row">
                <p>El balance de la cuenta <strong>{{ numeroCuenta }} </strong>es de: <strong> {{ cuenta.amount }}  </strong></p>
            </div>



        </div>

    </div>

</div>

